table{
    border-collapse:collapse;
    table-layout: fixed;
    width: 600px;
}
td,th{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
thead td{
    background-color: green;
}
tbody td{
    width:33.33%;
}

tbody tr:nth-child(odd){
    background-color:grey;
}
tbody tr:nth-child(even){
    background-color:darkgrey;
}
tbody tr:nth-child(1){
    background-color:black;
    color: white;
}
tbody tr td:first-of-type{
    background-color: red;
}