@page
@model RazorWebAppClient.Pages.NieuweLocatieModel
@{
}
<form method="post">
    <fieldset>
        <div>
            <label for="PostCode">Postcode:</label>
            <input type="text" name="PostCode"/>
            <br/>
            <label for="City">City:</label>
            <input type="text" name="City"/>
            <br/>
            <div>
                <label> </label>
                <input type="submit" value="Submit" class="submit"/>
            </div>
        </div>
    </fieldset>
</form>
