@{
    ViewData["Title"] = "Home Page";
    int clientCount = (int)ViewBag.ClientCount;
    int locationCount = (int)ViewBag.LocationCount;

}

<div class="text-center">
    <h1>The database has been started in Program.cs</h1>
    <p> er zijn @clientCount klanten</p>
    <p> er zijn @locationCount locaties</p>
</div>
