@model int[]
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The database has been started in Program.cs</h1>
    <p> er zijn @Model[0] klanten</p>
    <p> er zijn @Model[1] locaties</p>
</div>
