<html>
<head>
    <title>Routing</title>
</head>
<body>
<h1>'Routing' Controller, 'RoutingInt' View</h1>
<h2>Id value is: @ViewBag.ValueofId</h2>
<h2>Name value is: @ViewBag.ValueofName</h2>
</body>
</html>